<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite" parallel="methods" thread-count="2">

 
   <listeners>
  
<listener class-name="utilities.Screenshot"></listener>
  <listener class-name="extentReport.ExtentReporter"/>
  
 
  </listeners>
  


  <test name="user test" >
  
  <classes>
  <class name = "com.Goibibo.HomePageTest">
  
  
  </class>
  
  </classes>
  
  </test>
</suite>
